<div class="container">
    <div class="row clearfix">
        <div class="col-lg-4">
            <section id="profileLuiz" class="well">
                <h2 class="ra-well-title">Perfil</h2>

                <div class="row">
                    <div class="col-lg-5 col-sm-2">
                        <img src="/assets/luiz.jpg" class="ra-avatar img-responsive" />
                    </div>

                    <div class="col-lg-7 col-sm-2">
                        <span class="ra-first-name">Luiz</span>
                        <span class="ra-last-name">Moreira</span>
                        <div class="ra-position">Full stack developer</div>
                    </div>
                </div>
            </section>
        </div>

        <div class="row clearfix">
            <div class="col-lg-4">
                <section id="profileRomullo" class="well">
                    <h2 class="ra-well-title">Perfil</h2>

                    <div class="row">
                        <div class="col-lg-5 col-sm-2">
                            <img src="/assets/romullo.jpg" class="ra-avatar img-responsive" />
                        </div>

                        <div class="col-lg-7 col-sm-2">
                            <span class="ra-first-name">Rômullo</span>
                            <span class="ra-last-name">Beltrame</span>
                            <div class="ra-position">Hacker</div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="row clearfix">
                <div class="col-lg-4">
                    <section id="profileMatheus" class="well">
                        <h2 class="ra-well-title">Perfil</h2>

                        <div class="row">
                            <div class="col-lg-5 col-sm-2">
                                <img src="/assets/matheus.jpg" class="ra-avatar img-responsive" />
                            </div>

                            <div class="col-lg-7 col-sm-2">
                                <span class="ra-first-name">Matheus</span>
                                <span class="ra-last-name">Bergmann</span>
                                <div class="ra-position">Jr. Developer</div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>


            <footer>Copyright &copy; 2015 <a href="http://www.unisul.br/wps/portal/home/">Unisul</a>.</footer>
        </div>
    </div>
</div>